<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.interfaces.RouteDAO">

    <insert id="insertRoute" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO routes (distance) VALUES (#{distance})
    </insert>

    <update id="updateRoute">
        UPDATE routes SET distance = #{distance} WHERE id = #{id}
    </update>

    <resultMap id="routesResult" type="org.example.model.Route">
        <result property="id" column="id"/>
        <result property="distance" column="distance"/>
        <association property="startPoint" javaType="org.example.model.Point" resultMap="pointsResult"/>
        <association property="endPoint" javaType="org.example.model.Point" resultMap="pointsResult"/>
    </resultMap>

    <resultMap id="pointsResult" type="org.example.model.Point">
        <result property="id" column="id"/>
        <result property="xCoordinate" column="x_coordinate"/>
        <result property="yCoordinate" column="y_coordinate"/>
    </resultMap>

    <select id="getRoute" resultMap="routesResult">
        SELECT id, start_point, end_point, distance FROM routes WHERE id = #{id}
    </select>

    <select id="getRoutes" resultMap="routesResult">
        SELECT id, start_point, end_point, distance FROM routes
    </select>

    <update id="setStartPoint" parameterType="map">
        UPDATE routes SET start_point = #{startPoint.id} WHERE id = #{route.id}
    </update>

    <update id="setEndPoint" parameterType="map">
        UPDATE routes SET end_point = #{endPoint.id} WHERE id = #{route.id}
    </update>

    <insert id="setWayPoints" parameterType="map">
        INSERT INTO waypoints (points_id, routes_id) VALUES (#{point.id}, #{route.id})
    </insert>

</mapper>