<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.interfaces.UserDAO">

    <insert id="insertUser" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO users (name, surname, email, password) VALUES (#{name}, #{surname}, #{email}, #{password});
    </insert>

    <update id="updateUser">
        UPDATE users SET name = #{name}, surname = #{surname}, email = #{email}, password = #{password} WHERE id = #{id};
    </update>

    <select id="getUserById" parameterType="int" resultMap="usersResult">
        SELECT id, name, surname, email, password FROM users WHERE id = #{id};
    </select>

    <select id="getUserByEmail" parameterType="String" resultMap="usersResult">
        SELECT id, name, surname, email, password FROM users WHERE email = #{email};
    </select>

    <select id="getUsers" resultMap="usersResult">
        SELECT id, name, surname, email, password FROM users;
    </select>

    <resultMap id="usersResult" type="org.example.model.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="surname" column="surname"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
    </resultMap>
</mapper>